<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-button><mat-icon class="menu-icon">poll</mat-icon><span>Dota 2 Stats</span></button>
  <button mat-button><mat-icon class="menu-icon">dashboard</mat-icon><span>Dashboard</span></button>
  <button mat-button><mat-icon class="menu-icon">supervisor_account</mat-icon><span>Users</span></button>
  <button mat-button><mat-icon class="menu-icon">all_inclusive</mat-icon><span>Teams</span></button>
</mat-toolbar>
<router-outlet></router-outlet>
