.scene-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scene-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.scene-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.control-separator {
  margin-left: 10px;
}

.padded_field {
  padding-left: 10px;
}

.scenes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.preview-image, .live-container, .live-image, .live-image-fader {
  width: 800px;
  height: 450px;
}

.preview-image, .live-container {
  margin-left: 16px;
  margin-right: 16px;
}

.live-container, .live-image{
  position: relative;
  top: 0;
  left: 0;
}
.live-image-fader {
  position: absolute;
  top: 0;
  left: 0;
}

.group-stage-component {
  padding: 18px;
  margin-top: 18px;
  min-width: 100px;
}

.input-selection {
  width: 200px;
}

.group-table {
  margin-top: 18px;
  width: 1200px;
}

.number-input {
  width: 40px;
}

.mat-column-color {
  width: 100px;
}

.mat-column-actions {
  width: 100px;
}
